:root {
    --white-text-color: #eee;
    --black-text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rowdies", cursive;
    overflow: hidden;
    color: var(--white-text-color);
    background: #526b37;
}

.hidden {
    display: none !important;
}

.white-text { color: var(--white-text-color); }
.black-text { color: var(--black-text-color); }

.button {
    width: 100%;
    background: var(--black-text-color);
    color: var(--white-text-color);
    font-size: 1.4rem;
    text-align: center;
    padding: 15px 0;
    margin: 10px 0;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.04);
}

.title {
    text-align: center;
    font-size: 100px;
    margin: 1rem 0;
}

.fa {
    font-size: 30px;
    padding: 10px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--white-text-color);
    border: none;
    background: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
