.pause-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.pause-menu h2 {
    margin: 0;
    padding: 0;
    text-shadow:
        0.05em 0 #000,
        0 0.05em #000,
        -0.05em 0 #000,
        0 -0.05em #000,
        -0.05em -0.05em #000,
        -0.05em 0.05em #000,
        0.05em -0.05em #000,
        0.05em 0.05em #000;
}

.pause-menu .content {
    background: rgba(0, 0, 0, 0.45);
    padding: 35px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pause-menu .buttons-container div {
    background: var(--white-text-color);
    color: var(--black-text-color);
    width: 355px;
    margin: 20px 0;
    padding: 15px 0;
    border: 4px solid #333;
    font-size: 2rem;
}